.navbar {
  background-color: transparent;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: white;
}
